@import "variables/variables";

.appHeader {
  height: 90px;
  width: 100%;
  background-color: #f2f2f2;
}

.logobox{
  display: flex;
  gap: 20px;
  height: 95px;
  align-items: center;
}

.logoContainer {
  display: flex;
  height: inherit;
  align-items: center;
  cursor: pointer;
}

.appHeaderContent {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeaderContentMenu {
  display: flex;
  gap: 10px;
}

.iconSize {
  font-size: 20px;
}

.title {
  font-size: $titleSize;
}

.searchform {
  width: 400px;
  display: flex;
}

.searchInput {
  width: 330px;
  padding: 13px;
  font-size: 17px;
  border-radius: 25px 0 0 25px;
  background-color: $white;
  border: none;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  width: 40px;
  border-radius: 0 25px 25px 0;
  background-color: $white;
  border: none;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconItem:hover {
  text-decoration: underline;
}

.iconItem p {
  font-size: 15px;
}

.mobileAppHeaderContainer{
  width: 100%;
  height: 90px;
  background-color: #f2f2f2;
}

.mobileAppHeaderContent{
  width: 95%;
  margin: auto;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.searchContainerButton{
  width: 50px;
  height: 50px;
  background-color: $white;
  vertical-align: middle;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 1095px) {
  .iconSize{
    font-size: 22px;
  }
}

@media (min-width: 1095px) {
  .mobileAppHeaderContainer {
    display: none;
  }
}