.title {
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
}

.avatarContainer {
  position: relative;
  height: 190px;
  width: 190px;
}

.homeCategoryContainer {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 10px;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  height: 220px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .avatarContainer {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }

  .categoryContainer {
    height: 180px;
  }
}

