.title {
  font-weight: bolder;
  font-size: 18px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.homeCategoryContainer {
  display: flex;
  height: 150px;
  overflow: auto;
  white-space: nowrap;
}

.categoryCategoryContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}
