@import "variables/variables";

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 5px 10px 5px 10px;
}

.dropdownTitle{
  font-size: $titleSize;
  font-weight: bolder;
  margin: 5px 0 5px 0;
}

.titleContainer{
  border-bottom: 2px solid $grey;
}


