.noProductContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 70vh;
  flex-direction: column;
}

.iconImage {
  width: 160px;
  height: 160px;
}

.errorMessage {
  text-align: center;
}

.errorMessageContainer{
    width: 50%;
}

@media screen and (max-width: 767px) {
    .errorMessageContainer{
        width: 90%;
    }
}