.optionContainer {
  position: relative;
  display: inline-block;

}

.optionsDropdownContent {
  position: absolute;
  margin-top: 10px;
  width: 400px;
  background-color: #ffffff;
  padding: 10px;
  z-index: 1;
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  right: 0;
  display: none;
}