.imageContainer {
  width: 100%;
  height: 190px;
  position: relative;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.productContainer {
  cursor: pointer;
}

.homeProductListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.productPage {
  display: flex;
  width: 100%;
  gap: 30px;
}

.sellingPrice {
  font-weight: bold;
  font-size: 22px;
}

.infoProductContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 10px;
}

.buttonContainer button {
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  border-radius: 5px;
}

.productCount {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: space-between;
}

.productCount p {
  font-size: 22px;
}

.productCount span {
  font-size: 32px;

}

.productPageContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productImageContainer {
  width: 60%;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.productImage {
  width: 100%;
  height: 600px;
  position: relative;
}

.infoProductContainer {
  width: 40%;
}

.mobileProductPageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Icon {
  font-size: 22px;
}

@media screen and (min-width: 991px) {
  .imageContainer {
    height: 260px;
  }

  .homeProductListContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 420px) and (max-width: 599px) {
  .imageContainer {
    height: 225px;
  }
}

@media screen and (min-width: 600px) and (max-width: 990px) {
  .imageContainer {
    width: 220px;
    height: 260px;
  }

  .homeProductListContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .productPageContainer {
    display: none;
  }

  .productImageContainer {
    width: 100%;
  }

  .productImage {
    height: 400px;
  }

  .mobileProductCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

   .mobileInfoProductContainer{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .buttonContainer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobileProductPageContainer {
    display: none;
  }


}