.subCategoryContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 150px;
}

.imageThumbnail{
    width: 90px;
    height: 90px;
}

@media screen and (min-width: 768px) {
    .subCategoryContainer{
        width: 180px;
        height: 180px;
    }

}