.subCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.imageThumbnail {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .subCategoryContainer {
    width: 145px;
    height: 145px;
  }

  .imageThumbnail {
    width: 90px;
    height: 90px;
  }

}