.tabView {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tabHeader {
  display: flex;
  gap: 30px;
}

.tab{
    cursor: pointer;
}

.tabBody{

}

.active{
    background: #ffffff;
    font-weight: bolder;
    border-bottom: 3px solid #000000;
}

